<div id="principal-container">
    <div id="form-container">
        
        <span>Inicio de Sesión</span>

        <form [formGroup]="formLogin" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label>Correo</mat-label>

                <input matInput formControlName="email" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Contraseña</mat-label>

                <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'"/>
                <button
                    type="button"
                    mat-icon-button
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()"
                >

                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>

        <div id="buttons-form-container">
            <button mat-raised-button (click)="login()">Ingresar</button>

            <button mat-button (click)="goRegister()">Registrarse</button>
        </div>

    </div>
</div>
